* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #353434;
  color: #ffffff;
  font-family: monospace;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button {
  background-color: #b98bf1;
  border: none;
  border-radius: 0.5em;
  color: white;
  padding: 0.1em 1em;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
  margin: 4px 2px;
  cursor: pointer;
}

.reset {
  padding: 0.5rem 1.4rem;
}
